@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

// General CSS
html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 10px 36px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        box-shadow: 4px 4px 6px 1px rgba(61, 61, 61, 0.4);
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 10px 36px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: white;
        border: 1px solid #191919;
        color: #191919;
        box-shadow: 4px 4px 6px 1px rgba(61, 61, 61, 0.4);
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 10px 36px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        box-shadow: 4px 4px 6px 1px rgba(61, 61, 61, 0.4);
    }
}

.section-title {
    padding-top: 60px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: #191919;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns:  1fr auto;
        grid-template-areas:    "logo bars";
        
        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
    
        .logotype {
            grid-area: logo;
            margin-right: 70px;
        }

        .contact-info-bar {
            grid-area: cib;
            display: none;
            justify-content: flex-start;
            align-items: center;

            @media (min-width: 1200px) {
                display: flex;
            }

            .content-box {
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid #DAD9D3;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;

                i {
                    margin-right: 5px;
                    font-size: 1.2em;
                }

                &.last {
                    border: none;
                }
            }
        }

        .socialmedia-bar {
            grid-area: social;
            display: none;

            @media (min-width: 992px) {
                display: block;
            }

            a {
                color: #191919;
                font-size: 1.3rem;
                margin-left: 10px;
                transition: color 0.15s;

                &:hover {
                    color: #7c7c7c;
                }
            }
        }

        .menu {
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #DAD9D3;
            margin-top: 10px;
            padding-top: 10px;

            @media (min-width: 992px) {
                display: flex;
            }

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: "";
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }
        }
    }
}

footer {
    background-color: #0E1021;
    
    .top-footer {
        position: relative;
        z-index: 0;
        .bkg-lines-right {
            position: absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
        }

        .container {
            text-align: center;
            justify-content: space-between;
            align-items: center;
            padding-top: 55px;
            padding-bottom: 45px;

            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
                padding-top: 110px;
                padding-bottom: 90px;
            }

            .crito-box {
                img {
                    margin-bottom: 30px;
                }

                p {
                    color:#b8b8b8;
                }
            }

            .info-boxes {
                display: flex;
                gap: 50px;
                justify-content: center;

                @media (min-width: 1400px) {
                    gap: 100px;
                }

                .info-box {
                    .h3-link {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    .info-link {
                        color:#b8b8b8;
                        display: none;
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                        }

                        @media (min-width: 1200px) {
                            display: block;
                            padding-top: 14px;
                        }
                    }
                }
            }
        }
    }

    .bottom-footer {
        padding-top: 30px;
        padding-bottom: 14px;
        border-top: 1px solid #5a5a5a;

        .container {
            text-align: center;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
            }

            p {
                color:#b8b8b8;
            }

            .socialmedia-bar {
                a {
                    color: #FFFFFF;
                    font-size: 1.3rem;
                    margin-left: 10px;
                    transition: color 0.15s;
    
                    &:hover {
                        color: #7c7c7c;
                    }
                }
            }
        }
    }
}

// Home-page CSS
main {
    .showcase-section {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .bkg-lines {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 50%;
        }
    
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .content {
                padding: 40px 0px;
                text-align: center;
    
                @media (min-width: 1200px) {
                    text-align: left;
                }
    
                h1 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;
    
                    @media (min-width: 768px) {
                        font-size: 70px;
                    }
    
                    @media (min-width: 1400px) {
                        font-size: 86px;
                    }
                }
    
                p {
                    color: #636363;
                    font-size: 18px;
                    padding: 10px 10px 30px;
    
                    @media (min-width: 768px) {
                        font-size: 20px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
    
                a {
                    margin-right: 0px;
                    display: block;
                    margin-bottom: 20px;
    
                    @media (min-width: 768px) {
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
            }
    
            img {
                display: none;
                margin-right: -50px;
    
                @media (min-width: 1200px) {
                    display: block;
                }
            }
        }
    } 

    .brands-section {
        padding: 60px 0px;

        .container {
            display: flex;
            justify-content: center;

            .brands {
                display: grid;
                grid-template-columns: 1fr 1fr;

                @media (min-width: 768px) {
                    grid-template-columns: repeat(3, 1fr); 
                }

                @media (min-width: 1200px) {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }
    }

    .features-section {
        .container {
            border: 2px solid #d8d8d8;
            max-width: 1520px;
            padding-top: 60px;

            @media (min-width: 1200px) {
                display: flex;
                padding: 80px 0px 20px 100px;
            }

            .features-first {
                text-align: center;
                padding-bottom: 100px;

                @media (min-width: 1200px) {
                    text-align: start;
                }

                p {
                    color: #F94D1C;
                    font-size: 18px;
                }

                h2 {
                    font-family: 'DM Sans', sans-serif;
                    color: #191919;
                    font-weight: 700;
                    font-size: 45px;
                    padding-bottom: 40px;
                }

                .btn-yellow {
                    padding: 16px 160px;
                }
            }

            .features-second {
                display: flex;
                flex: 1;
                justify-content: center;
                gap: 60px;

                @media (min-width: 1200px) {
                    justify-content: space-evenly;
                    margin-top: 30px;
                }

                .left-boxes, .right-boxes {
                    .advice-box {
                        i {
                            font-size: 34px;
                            margin-bottom: 24px;
                        }

                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                        }

                        p {
                            color: #636363;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    }

    .about-company-section {
        margin-top: 70px;

        @media (min-width: 1200px) {
            margin: 100px 0px 50px;
        }
        
        .container {
            display: flex;
            position: relative;

            .company-images {
                display: none;
                padding-left: 55px;
                padding-right: 20px;

                .company-img2 {
                    position: absolute;
                    left: -50px;
                    bottom: 68px;

                    @media (min-width: 1400px) {
                        left: -50px;
                        bottom: 36px;  
                    }
                }

                .company-img3 {
                    position: absolute;
                    top: 40px;
                    left: 20px;
                }

                @media (min-width: 1200px) {
                    display: inline;
                }
            }

            .section-title {
                padding-top: 0;
                padding-left: 50px;
                padding-right: 55px;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: start;
                }

                @media (min-width: 1400px) {
                    padding-left: 100px;
                }

                h2 {
                    padding-top: 10px;
                    padding-bottom: 30px;
                }

                .main-text {
                    color: #636363;
                    padding-bottom: 40px;
                }

                .bottom-buttons {
                    display: flex;
                    gap: 36px;
                    justify-content: center;

                    @media (min-width: 1200px) {
                        justify-content: start;
                    }

                    @media (min-width: 1400px) {
                        padding-top: 30px;
                    }

                    .btn-black {
                        padding: 10px 22px;

                        @media (min-width: 1200px) {
                            padding: 10px 36px;
                        }
                    }


                    .video-button {
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        text-decoration: none;
                        color: #191919;

                        &:hover span {
                            text-decoration: underline;
                        }

                        &:hover i {
                            color: #191919cb;
                        }
    
                        i {
                            font-size: 50px;
                            padding-right: 16px;
                        }
                    }
                }
            }
        }
    }

    .our-services-section {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .bkg-whitelines-right {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        .container {
            text-align: center;

            .section-title {
                padding-bottom: 40px;
                padding-top: 80px;

                h2 {
                    padding-top: 10px;
                }
                
                @media (min-width: 1200px) {
                    text-align: start;
                    padding: 100px 12px 40px 12px;
                }
            }

            .services {
                text-align: start;
                display: flex;

                .first-boxes, .second-boxes {
                    @media (min-width: 1200px) {
                        display: flex;
                    }

                    #yellow-consulting {
                        background-color: #F9D783;
                    }

                    .consulting-box {
                        padding: 46px 18px;
                        background-color: white;
                        margin-left: 12px;
                        margin-right: 12px;
                        margin-bottom: 24px;
                        text-decoration: none;
                        transition: box-shadow 0.15s ease-in-out;

                        &:hover {
                            box-shadow: 4px 4px 6px 1px rgba(61, 61, 61, 0.4);
                        }
    
                        h3 {
                            padding-top: 30px;
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                            color: #191919;
                        }
    
                        p {
                            color: #636363;
                            padding: 10px 0px;
                        }
    
                        i {
                            font-size: 50px;
                            display: block;
                            text-align: end;
                            color: #191919;
                            --fa-primary-color: #ffffff;
                            --fa-secondary-color: #191919;
                            --fa-secondary-opacity: 1;
                        }

                        #white-arrow-icon {
                            --fa-primary-color: #191919;
                            --fa-secondary-color: #ffffff;
                            --fa-secondary-opacity: 1;
                        }
                    }
                }
            }

            .browse-services {
                padding-top: 50px;
                padding-bottom: 110px;

                .btn-transparent {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }
    }

    .why-us-section {
        position: relative;

        .container {
            justify-content: center;
            display: flex;
            padding-top: 60px;
            z-index: 0;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            .why-us {
                background-color: #FFFFFF;

                .section-title {
                    padding: 0;
                    text-align: center;
                    margin-bottom: 40px;

                    @media (min-width: 1200px) {
                        text-align: start;
                        margin-bottom: 0;
                    }
                }

                .first-boxes, .second-boxes {
                    display: flex;
                    text-align: center;

                    @media (min-width: 1200px) {
                        display: block;
                        text-align: start;
                        padding-right: 30px;
                    }

                    .skills-box {
                        margin: 40px;

                        @media (min-width: 1200px) {
                            display: flex;
                            margin: 0;
                            padding-top: 40px;
                        }
    
                        i {
                            font-size: 46px;
                            margin-bottom: 20px;

                            @media (min-width: 1200px) {
                                margin-right: 36px;
                            }
                        }
    
                        .skills-box-text {
                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 22px;
                                font-weight: 700;
                            }
        
                            p {
                                color: #636363;
                            }
                        }
                    }
                }
            }

            .why-us-img1 {
                display: none;
                padding-top: 30px;

                @media (min-width: 1200px) {
                    height: 560px;
                    display: inline;
                }
            }

            .why-us-img2 {
                display: none;
                z-index: -1;
                position: absolute;
                bottom: 22px;
                right: 0;

                @media (min-width: 1200px) {
                    display: inline;
                    height: 480px;
                    width: 1080px;
                }
            }
        }
    }

    .project-case-section {
        .container {
            .section-title {
                text-align: center;
            }

            .project-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;

                @media (min-width: 768px) {
                    grid-template-columns: 1fr 1fr;
                }

                .project {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr auto;
                    color: #191919;
                    text-decoration: none;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        padding-top: 35px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #DAD9D3;
                    }

                    .readmore {
                        padding: 15px;
                        display: block;
                        text-align: right;
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        color: #191919;

                        i {
                            margin-left: 3px;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .center-content {
                margin-top: 40px;
                margin-bottom: 90px;
            }
        }
    }

    .our-team-section {
        background-color: #F0D082;
        
        .container {
            .top-row {
                align-items: center;
                justify-content: space-between;
                text-align: center;

                @media (min-width: 1200px) {
                    display: flex;
                    text-align: start;
                }

                .section-title {
                    padding-bottom: 30px;
                }

                .browse-team {
                    .btn-transparent {
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }

                    @media (min-width: 1200px) {
                        margin-top: 90px;
                    }
                }
            }

            .team-members {
                gap: 30px;
                
                @media (min-width: 1200px) {
                    display: flex;
                }

                .members-first, .members-second {
                    display: flex;
                    gap: 30px;
                    justify-content: center;

                    .member {
                        img {
                            margin-top: 60px;
                            margin-bottom: 20px;
                            width: 100%;
                            
                            @media (min-width: 1200px) {
                                margin: 40px 0px;
                            }
                        }
    
                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: bold;
                        }
    
                        p {
                            color:#636363;
                        }
                    }
                }
            }

            .bottom-dots {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 60px;

                i {
                    font-size: 12px;
                    margin: 8px;
                }
            }
        }
    }

    .testimonial-section {
        background-color: #F0D082;
        padding-bottom: 120px;

        .container {
            background-color: white;
            padding: 0px 120px 120px 120px;
            text-align: center;

            @media (min-width: 1400px) {
                max-width: 1520px;
            }

            .section-title {
                padding-bottom: 70px;
            }

            .btn-black {
                padding: 14px 30px;
            }

            .reviews {  
                margin-bottom: 100px;
                gap: 90px;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .review-box {
                    text-align: start;
                    margin-bottom: 70px;

                    @media (min-width: 1200px) {
                        margin-bottom: 0;
                    }

                    i {
                        color: #F94D1C;
                        margin-bottom: 18px;
                        font-size: 14px;
                    }
    
                    .client {
                        display: flex;
                        align-items: center;

                        @media (min-width: 1200px) {
                            display: block;
                            margin-top: 40px;
                        }

                        @media (min-width: 1400px) {
                            display: flex;
                        }

                        img {
                            margin-right: 16px;
                            margin-bottom: 16px;
                            display: none;

                            @media (min-width: 768px) {
                                display: inline;
                            }
                        }

                        .client-info {
                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 19px;
                                font-weight: 900;
                                margin: 0;

                                @media (min-width: 1200px) {
                                    font-size: 22px;
                                    font-weight: 700;
                                }
                            }
        
                            .client-work-info {
                                color: #F94D1C;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .article-news-section {
        .container {
            .top-row {
                align-items: center;
                justify-content: space-between;
                text-align: center;

                @media (min-width: 1200px) {
                    display: flex;
                    text-align: start;
                }

                .section-title {
                    padding-bottom: 30px;
                }

                .browse-team {
                    .btn-transparent {
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }

                    @media (min-width: 1200px) {
                        padding-top: 120px;
                    }
                }
            }
            .articles-and-news {
                gap: 20px;

                @media (min-width: 768px) {
                    display: flex;
                }


                .article {
                    color: #191919;
                    text-decoration: none;

                    img {
                        margin-top: 60px;
                        margin-bottom: 20px;
                        width: 100%;

                        @media (min-width: 1200px) {
                            margin: 20px 0px;
                        }
                    }

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    p {
                        color:#636363;
                    }

                    &:hover h3 {
                        text-decoration: underline;
                    }
                }
            }
            .bottom-dots {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 80px;

                i {
                    font-size: 12px;
                    margin: 8px;
                }
            }
        }
    }

    .newsletter-section {
        background-color: #F0EFE9;
        position: relative;
        padding: 80px 0px;
        z-index: 0;

        .bkg-lines-right {
            position: absolute;
            z-index: -1;
            bottom: 40px;
            right: 0;
        }

        .container {
            text-align: center;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 40px;

                @media (min-width: 1200px) {
                    margin-bottom: 0;
                }
            }

            form {
                input {
                    color: #191919;
                    padding: 10px 30px;
                    font-size: 16px;
                    border-radius: 25px;
                    outline: none;
                    border: 1px solid rgba(25, 25, 25, 0.1);
                    margin-right: 20px;
                    margin-bottom: 40px;

                    @media (min-width: 768px)  {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// Contact-page CSS
main {
    .connect-section {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .bkg-lines {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 50%;
        }

        .container {
            padding: 100px 0px;
            text-align: center;

            a {
                color: #191919;
                text-decoration: none;
                margin: 8px;

                &:hover {
                    text-decoration: underline;
                }
            }

            h1 {
                margin-top: 10px;
                font-family: 'DM Sans', sans-serif;
                font-size: 56px;
                font-weight: 700;
            }
        }
    }

    .contact-section {
        margin-top: 60px;

        @media (min-width: 992px) {
            margin-top: 120px;
        }

        .contact-container {
            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
            }            

           .contact-box {
                border: 2px solid #d8d8d8;
                display: flex;
                justify-content: center;
                padding: 50px 0px;
                margin-bottom: 50px;
                color: #191919;
                text-decoration: none;
                transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                &:hover {
                    border: 2px solid #191919;
                    box-shadow: 4px 4px 6px 1px rgba(61, 61, 61, 0.4);
                }

                @media (min-width: 992px) {
                    padding-left: 15px;
                    padding-right: 30px;
                }

                @media (min-width: 1200px) {
                    padding-left: 30px;
                    padding-right: 70px;
                }

                @media (min-width: 1400px) {
                    padding-left: 60px;
                    padding-right: 100px;
                }

                i {
                    font-size: 60px;
                    margin-right: 24px;
                }

                .contact-info {
                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: bold;
                        font-size: 22px;
                        padding: 8px 0px;
                    }

                    p {
                        font-size: 18px;
                        margin: 0;
                        line-height: 1.5;
                        color: #636363;
                    }
                }
            }
        }

        .message-container {
            background-color: #F0EFE9;
            max-width: 1300px;
            margin-top: 40px;
            margin-bottom: 120px;
            padding-top: 100px;
            padding-bottom: 100px;

            @media (min-width: 1200px) {
                padding-top: 135px;
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 30px;
            }

            .message-box {
                display: flex;
                justify-content: center;

                form {
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 100%;

                    @media (min-width: 576px) {
                        width: 80%;
                    }
                    
                    input {
                        padding: 12px 32px;
                        margin-bottom: 16px;
                        outline: none;
                        border-radius: 32px;
                        border: none;
                    }

                    textarea {
                        margin-bottom: 45px;
                        padding: 12px 32px 100px;
                        border-radius: 32px;
                        border: none;
                        line-height: 1.5;
                        resize: none;
                        outline: none;
                    }
                }
            }
        }
    }

    .google-maps {
        iframe {
            width: 100%;
            height: 420px;

            @media (min-width: 768px) {
                height: 620px;
            }
        }
    }
}