@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 10px 26px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 10px 26px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: white;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 10px 26px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.section-title {
    padding-top: 60px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: #191919;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns:  1fr auto;
        grid-template-areas:    "logo bars";
        

        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
    
        .logotype {
            grid-area: logo;
            margin-right: 70px;
        }

        .contact-info-bar {
            grid-area: cib;
            display: none;
            justify-content: flex-start;
            align-items: center;

            @media (min-width: 1200px) {
                display: flex;
            }

            .content-box {
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid #DAD9D3;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;

                i {
                    margin-right: 5px;
                    font-size: 1.2em;
                }

                &.last {
                    border: none;
                }
            }
        }

        .socialmedia-bar {
            grid-area: social;
            display: none;

            @media (min-width: 992px) {
                display: block;
            }

            a {
                color: #191919;
                font-size: 1.3rem;
                margin-left: 10px;

                &:hover {
                    color: #7c7c7c;
                }
            }
        }

        .menu {
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #DAD9D3;
            margin-top: 10px;
            padding-top: 10px;

            @media (min-width: 992px) {
                display: flex;
            }

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: "";
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

        }

    }

}

main {

    .showcase-section {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .bkg-lines {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;

            @media (min-width: 992px) {
                display: inline
            }
        }
    
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;
    
                @media (min-width: 1200px) {
                    text-align: left;
                }
    
                h1 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;
    
                    @media (min-width: 768px) {
                        font-size: 70px;
                    }
    
                    @media (min-width: 1400px) {
                        font-size: 86px;
                    }
                }
    
                p {
                    color: #636363;
                    font-size: 18px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
    
                    @media (min-width: 768px) {
                        font-size: 20px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
    
                a {
                    margin-right: 0px;
                    display: block;
                    margin-bottom: 20px;
    
                    @media (min-width: 768px) {
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
            }
    
            img {
                display: none;
                margin-right: -50px;
    
                @media (min-width: 1200px) {
                    display: block;
                }
            }
        }
    } 

    .brands-section {
        padding: 60px 0px;

        .container {
            display: flex;
            justify-content: center;

            .brands {
                display: grid;
                grid-template-columns: 1fr 1fr;

                @media (min-width: 768px) {
                    grid-template-columns: repeat(3, 1fr); 
                }

                @media (min-width: 1200px) {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }
    }

    .features-section {

        .container {
            border: 3px solid #F0EFE9;
            max-width: 1520px;
            padding-top: 60px;

            @media (min-width: 1200px) {
                display: flex;
                padding: 80px 0px 20px 100px;
            }

            .features-first {
                text-align: center;
                padding-bottom: 100px;

                @media (min-width: 1200px) {
                    text-align: start;
                }

                p {
                    color: #F94D1C;
                    font-size: 18px;
                }

                h2 {
                    font-family: 'DM Sans', sans-serif;
                    color: #191919;
                    font-weight: 700;
                    font-size: 45px;
                    padding-bottom: 40px;
                }

                a {
                    padding: 16px 160px;
                }
            }

            .features-second {

                display: flex;
                flex: 1;
                justify-content: center;
                gap: 60px;

                @media (min-width: 1200px) {
                    justify-content: space-evenly;
                }

                .left-boxes, .right-boxes {
                    .advice-box {

                        i {
                            font-size: 34px;
                            margin-bottom: 24px;
                        }

                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                        }

                        p {
                            color: #636363;
                            padding-bottom: 50px;
                        }
                    }
                }
            }

        }
    }

    .project-case-section {

        .container {

            .section-title {
                text-align: center;
            }

            .project-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;

                @media (min-width: 768px) {
                    grid-template-columns: 1fr 1fr;
                }

                .project {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr auto;
                    color: #191919;
                    text-decoration: none;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        padding-top: 35px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #DAD9D3;
                    }

                    .readmore {
                        padding: 15px;
                        display: block;
                        text-align: right;
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        color: #191919;

                        i {
                            margin-left: 3px;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .center-content {
                margin-top: 40px;
                margin-bottom: 90px;
            }
        }

    }

    .newsletter-section {
        background-color: #F0EFE9;
        position: relative;
        padding: 80px 0px;
        z-index: 0;

        .bkg-lines-right {
            display: none;
            z-index: -1;
            position: absolute;
            bottom: 40px;
            right: 0;

            @media (min-width: 768px) {
                display: inline;
            }
        }

        .container {
            text-align: center;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 40px;

                @media (min-width: 1200px) {
                    margin-bottom: 0;
                }
            }

            form {
                input {
                    color: #191919;
                    padding: 15px 30px;
                    font-size: 16px;
                    border-radius: 25px;
                    outline: none;
                    border: 1px solid rgba(25, 25, 25, 0.1);
                    margin-right: 20px;
                }
            }
        }
    }

    .about-company-section {
        margin-top: 70px;

        @media (min-width: 1200px) {
            margin: 80px 0px;
        }
        
        .container {
            display: flex;

            .company-images {
                display: none;
                padding-left: 55px;
                padding-right: 20px;
                position: relative;

                .company-img2 {
                    position: absolute;
                    left: -72px;
                    bottom: 64px;
                }

                .company-img3 {
                    position: absolute;
                    top: 40px;
                    left: 20px;
                }

                @media (min-width: 1200px) {
                    display: inline;
                }
                
            }

            .section-title {
                padding-top: 0;
                padding-left: 50px;
                padding-right: 55px;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: start;
                }

                @media (min-width: 1400px) {
                    padding-left: 100px;
                }

                h2 {
                    padding-top: 10px;
                    padding-bottom: 30px;
                }

                .main-text {
                    color: #636363;
                    padding-bottom: 40px;
                }

                .bottom-buttons {
                    display: flex;
                    gap: 50px;
                    justify-content: center;

                    @media (min-width: 1200px) {
                        justify-content: start;
                    }

                    @media (min-width: 1400px) {
                        padding-top: 50px;
                    }


                    .video-button {
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        font-size: 16px;
                        text-decoration: none;
                        color: #191919;

                        &:hover span {
                            text-decoration: underline;
                        }

                        &:hover i {
                            color: #636363;
                        }
    
                        i {
                            font-size: 50px;
                            padding-right: 16px;
                        }
                    }
                }

            }

        }
    }

    .our-services-section {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .bkg-whitelines-right {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        .container {
            text-align: center;

            .section-title {
                padding-bottom: 40px;
                padding-top: 80px;

                h2 {
                    padding-top: 10px;
                }
                
                @media (min-width: 1200px) {
                    text-align: start;
                    padding: 100px 12px 40px 12px;
                }
            }

            .services {
                text-align: start;
                display: flex;

                .first-boxes, .second-boxes {

                    @media (min-width: 1200px) {
                        display: flex;
                    }

                    #yellow-consulting {
                        background-color: #F9D783;
                    }

                    .consulting-box {
                        padding: 46px 18px;
                        background-color: white;
                        margin-left: 12px;
                        margin-right: 12px;
                        margin-bottom: 24px;
    
                        h3 {
                            padding-top: 30px;
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                            color: #191919;
                        }
    
                        p {
                            color: #636363;
                            padding: 10px 0px;
                        }
    
                        i {
                            font-size: 50px;
                            display: block;
                            text-align: end;
                            color: #191919;
                        }
    
                    }
                }
                
            }

            .browse-services {
                padding-top: 50px;
                padding-bottom: 110px;

                .btn-transparent {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }
    }

    .why-us-section {

        .container {
            position: relative;
            justify-content: center;
            display: flex;
            padding-top: 60px;
            z-index: 0;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }


            .why-us {

                .section-title {
                    padding: 0;
                    text-align: center;

                    @media (min-width: 1200px) {
                        text-align: start;
                    }
                }

                .first-boxes, .second-boxes {
                    display: flex;

                    @media (min-width: 1200px) {
                        display: block;
                    }

                    .skills-box {
                        margin: 40px;

                        @media (min-width: 1200px) {
                            display: flex;
                            margin: 40px 0px 0px 0px;
                        }
    
                        i {
                            font-size: 46px;
                            margin-right: 36px;
                            margin-bottom: 20px;
                        }
    
                        .skills-box-text {
    
                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 22px;
                                font-weight: 700;
                            }
        
                            p {
                                color: #636363;
                            }
                        }
    
                    }
                }
                

          
            }

            .why-us-1 {
                display: none;
                padding-top: 30px;

                @media (min-width: 1200px) {
                    height: 460px;
                    display: inline;
                }

                @media (min-width: 1400px) {
                    height: 520px;
                }

            }

            .why-us-2 {
                display: none;
                z-index: -1;
                position: absolute;
                bottom: 20px;
                right: -290px;

                @media (min-width: 1200px) {
                    height: 390px;
                    display: inline;
                }

                @media (min-width: 1400px) {
                    height: 440px;
                }

            }
        }

    }

    .our-team-section {
        background-color: #F0D082;
        
        .container {

            .top-row {
                align-items: center;
                justify-content: space-between;
                text-align: center;

                @media (min-width: 1200px) {
                    display: flex;
                    text-align: start;
                }

                .section-title {
                    padding-bottom: 30px;

                    @media (min-width: 1200px) {
                        padding-bottom: 60px;
                    }
                }

                .browse-team {

                    .btn-transparent {
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }

                    @media (min-width: 1200px) {
                        padding-top: 60px;
                    }
                }
            }

            .team-members {
                gap: 30px;
                
                @media (min-width: 1200px) {
                    display: flex;
                }

                .members-first, .members-second {
                    display: flex;
                    gap: 30px;
                    justify-content: center;

                    .member {

                        img {
                            margin-top: 60px;
                            margin-bottom: 20px;
                            width: 100%;
                            
                            @media (min-width: 1200px) {
                                margin: 40px 0px;
                            }
                        }
    
                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: bold;
                        }
    
                        p {
                            color:#636363;
                        }
    
                    }
                }
                
            }

            .bottom-dots {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 60px;

                i {
                    font-size: 12px;
                    margin: 8px;
                }
            }
        }
    }

    .testimonial-section {
        background-color: #F0D082;
        padding-bottom: 120px;

        .container {
            background-color: white;
            padding: 0px 120px 120px 120px;
            text-align: center;

            @media (min-width: 1400px) {
                max-width: 1520px;
            }

            .btn-black {
                padding: 14px 30px;
            }


            .reviews {  
                margin-bottom: 100px;
                gap: 90px;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .review-box {
                    text-align: start;
                    margin-bottom: 70px;

                    @media (min-width: 1200px) {
                        margin-bottom: 0;
                    }

                    i {
                        color: #F94D1C;
                        margin-bottom: 18px;
                        font-size: 14px;
                    }
    
                    .client {
                        display: flex;
                        align-items: center;

                        @media (min-width: 1200px) {
                            display: block;
                            margin-top: 40px;
                        }

                        @media (min-width: 1400px) {
                            display: flex;
                        }

                        img {
                            margin-right: 16px;
                            margin-bottom: 16px;
                            display: none;

                            @media (min-width: 768px) {
                                display: inline;
                            }
                        }

                        .client-info {
                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 19px;
                                font-weight: 900;
                                margin: 0;

                                @media (min-width: 1200px) {
                                    font-size: 22px;
                                    font-weight: 700;
                                }
                            }

        
                            .client-work-info {
                                color: #F94D1C;
                                margin: 0;
                            }
                        }
    
                    }
                }

            }

        }
    }

    .article-news-section {
        
        .container {

            .top-row {
                align-items: center;
                justify-content: space-between;
                text-align: center;

                @media (min-width: 1200px) {
                    display: flex;
                    text-align: start;
                }

                .section-title {
                    padding-bottom: 30px;

                    @media (min-width: 1200px) {
                        padding-bottom: 0;
                    }
                }

                .browse-team {

                    .btn-transparent {
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }

                    @media (min-width: 1200px) {
                        padding-top: 140px;
                    }
                }
            }


                
            .articles-and-news {
                gap: 20px;

                @media (min-width: 768px) {
                    display: flex;
                }


                .article {
                    color: #191919;
                    text-decoration: none;

                    img {
                        margin-top: 60px;
                        margin-bottom: 20px;
                        width: 100%;

                        @media (min-width: 1200px) {
                            margin: 20px 0px;
                        }
                    }

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    p {
                        color:#636363;
                    }

                    &:hover h3 {
                        text-decoration: underline;
                    }
                }
            }
                
            .bottom-dots {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 80px;

                i {
                    font-size: 12px;
                    margin: 8px;
                }
            }
        }
    }
}

footer {
    background-color: #0E1021;
    
    .top-footer {

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 110px;
            padding-bottom: 90px;

            .crito-box {
                img {
                    margin-bottom: 30px;
                }

                p {
                    color:#b8b8b8;
                }
            }

            .info-box {
                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    color: #FFFFFF;
                    margin: 26px 0px;

                }

                a {
                    color:#b8b8b8;
                    display: block;
                    text-decoration: none;
                    padding-top: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }
    }

    .bottom-footer {
        padding-top: 30px;
        padding-bottom: 14px;
        border-top: 1px solid #5a5a5a;

        .container {
            display: flex;
            justify-content: space-between;

            p {
                color:#b8b8b8;
            }

            .socialmedia-bar {

                a {
                    color: #FFFFFF;
                    font-size: 1.3rem;
                    margin-left: 10px;
    
                    &:hover {
                        color: #7c7c7c;
                    }
                }
            }

        }
    }
}
